@page "/ImageUpdate/{id}"
@using BlazorApp2.Models;
@using BlazorApp2.Services;
@inject NavigationManager UriHelper;
@inject IJSRuntime JsRuntime

<h3>ImageUpdate</h3>



<div class="row">
    <div class="col-md-6">
        <img src="@image.Picture" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <table width="100%">
            <thead>
                <tr>
                    <td align="left">Theme</td>
                    <th align="left">Breadth</th>
                    <th align="left">Extent</th>
                    <th align="left">Depth</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>1</td>
                        <td>          
                           <input @bind=image.Breadth1 type="checkbox" />
                        </td>
                        <td>
                            <select @bind=image.Extent1>
                                @for (int j = 0; j < 100; j++)
                                {
                                        <option value=@j>@j</option>                          
                                }
                            </select>
                        </td>
                        <td>
                            <select @bind=image.Depth1>
                                @for (int j = 0; j < 6; j++)
                                {
                                    <option value=@j>@j</option>
                                }
                            </select>
                        </td>
                    </tr>
                     <tr>
                        <td>2</td>
                        <td>          
                           <input @bind=image.Breadth2 type="checkbox" />
                        </td>
                        <td>
                            <select @bind=image.Extent2>
                                @for (int j = 0; j < 100; j++)
                                {
                                        <option value=@j>@j</option>                          
                                }
                            </select>
                        </td>
                        <td>
                            <select @bind=image.Depth2>
                                @for (int j = 0; j < 6; j++)
                                {
                                    <option value=@j>@j</option>
                                }
                            </select>
                        </td>
                    </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <input @bind=image.Breadth3 type="checkbox" />
                    </td>
                    <td>
                        <select @bind=image.Extent3>
                            @for (int j = 0; j < 100; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select @bind=image.Depth3>
                            @for (int j = 0; j < 6; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <input @bind=image.Breadth4 type="checkbox" />
                    </td>
                    <td>
                        <select @bind=image.Extent4>
                            @for (int j = 0; j < 100; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select @bind=image.Depth4>
                            @for (int j = 0; j < 6; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                        <td>5</td>
                        <td>          
                           <input @bind=image.Breadth5 type="checkbox" />
                        </td>
                        <td>
                            <select @bind=image.Extent5>
                                @for (int j = 0; j < 100; j++)
                                {
                                        <option value=@j>@j</option>                          
                                }
                            </select>
                        </td>
                        <td>
                            <select @bind=image.Depth5>
                                @for (int j = 0; j < 6; j++)
                                {
                                    <option value=@j>@j</option>
                                }
                            </select>
                        </td>
                    </tr>
                <tr>
                    <td>6</td>
                    <td>
                        <input @bind=image.Breadth6 type="checkbox" />
                    </td>
                    <td>
                        <select @bind=image.Extent6>
                            @for (int j = 0; j < 100; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select @bind=image.Depth6>
                            @for (int j = 0; j < 6; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        <input @bind=image.Breadth7 type="checkbox" />
                    </td>
                    <td>
                        <select @bind=image.Extent7>
                            @for (int j = 0; j < 100; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select @bind=image.Depth7>
                            @for (int j = 0; j < 6; j++)
                            {
                                <option value=@j>@j</option>
                            }
                        </select>
                    </td>
                </tr>
                    
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <textarea cols="50"
          rows="2"
          placeholder="@image.Comments"
          style="resize:both;"
          oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
        @bind="@image.Comments">
</textarea>

    </div>
</div>


<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Child Age</th>
                    <th scope="col">Evaluator ID</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">
                        @image.ChildAge
                    </td>
                    <td class="align-middle">
                        <input type="text" @bind="@image.EvaluatorId">                   
                    </td>
                    <td class="align-middle">
                        @image.ImgEvent
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-info" @onclick="updateImage">Update</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

    


@code {
    [Parameter]
    public string Id { get; set; }

    public Image image { get; set; } = new Image();


    [Inject]
    public IImageHttpRepo ImageRepo { get; set; }

    protected async override Task OnInitializedAsync()
    {
        image = await ImageRepo.GetImageById(Int16.Parse(Id));      
        image.Picture = "data:image/png;base64," + image.Picture;
    }

    private async void updateImage()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?"); // Confirm

        if (confirmed)
        {
            image.Picture = image.Picture.Substring(22);
            image.ImgGraded = true;

            HttpResponseMessage response = await ImageRepo.EditImage(image);
            if (response.IsSuccessStatusCode)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Image Updated");

                //bool travelDirection = await JsRuntime.InvokeAsync<bool>("confirm", "Image has been Updated, press OK to view Ungraded images, press CANCEL to view All Images");
                //if (travelDirection) UriHelper.NavigateTo("/COMP2003/COMP2003_Y_1/UngradedImages/");
                
                //if (!travelDirection) UriHelper.NavigateTo("/COMP2003/COMP2003_Y_1/ImageDisplay/");
            }
            image.Picture = "data:image/png;base64," + image.Picture;
            StateHasChanged();
        }
    }



}




